*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.gym-header-container {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 30px;
  font-family: fantasy;
}

.gym-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.profile {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}